<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<!--img src="C:\Users\piari\OneDrive\Images\tag.png"!-->

<body style="font-family: Arial, Helvetica, sans-serif; background-color: rgb(255, 107, 19);">
 <div class="login" style="margin: 1em 2em; padding:3em; background-color: #FFFFFF;">
	<h1><i>Predict Tags</i></h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <p>
        
      <br/>
      <label for=title>Question Title</label>
      <br/>
    	<textarea cols=130 name="title" id="title" placeholder="Post Title" required="required">
        {{ title_text }}
        </textarea>
        <br/>
        <label for=title>Question Text</label>
        <br/>
        <textarea cols=130 rows=20 name="body" id="body" placeholder="Post Text" required="required">
          {{ body_text }}
        </textarea>
        <br/>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
      </p>
    </form>
 </div>
 <hr/>
 <div class="login" style="margin: 1em 2em; padding:3em; background-color: #FFFFFF;">
   {{ prediction_text }}

 </div>


</body>
</html>